@charset "UTF-8";

@media screen and (min-width: 1000px) {
 .container1 {
    		width:162%;
    		position:relative;
  }
}
  @media screen and (min-width: 1000px) {
   .container1 {
    		width:362%;
   
  }
}
  
  
  @media screen and (min-width: 1300px) {
  .container1 {
    		width:160.5%;
  }
}

 .container1 {
    		width:160%;
    	
  }











  @media screen and (max-width: 480px) {
  	.navbar .navbar-inverse{
  	position: fixed!important;
	width: 380px!important;
	left:0!important;
	padding-left: 0;
	}
  .row{
 height:0!important;
  
  }
  
  .container1 {
  float: none !important;
  position: absolute;
  left: 0 !important;
    		width:460px!important;
    	
    		padding-left: 0;
    		left: 0;
    		margin-bottom: 0;
    		padding-top: 0;
  }
  .glyphicon-cog{
  position: absolute;
  margin-top: 0!important;
  top: 13px!important;
  	font-size: 18px!important;
  }
  	.navbar-header{
  	position: absolute;
		padding-left: 0px;
		left: 0;
		width: 400px;
		padding-top: 0px;
		top: 0;
		margin-top: 0px;
		
	}
	.navbar-brand{
	position: absolute;
	left:0;
	padding-left:0;
	margin-bottom: 0!important;
	}
  	
  	.classe1{
  	font-size: 3px;
  	margin-left: 10px!important;
  	margin-top: 10px!important;
  	}
	

	.container{
	margin-right: 0!important;
	margin-top: 0!important;
	right: 0!important;
	padding-right:0!important;
	width:290px!important;
	height: 10px;
	float: right!important;
	}
	
	.btn{
	width:100px!important;
	background-color: #000;
	color: #FA7625;
	border-color: #FA7625;
	text-align: center;
	font-size: 8px!important;
	transition: 0.3s;
	margin-right: 0!important;
	padding: 1px!important;
	margin-top: 16px!important;
	}
	
	.html{
		background-color: #000000;
	}
		.nav-side-menu{
		position: absolute;
		width: 400px;
	   margin-top: 0;
	    padding-top: 0;
	}
	
	.nav-side-menu{
	position: absolute;
	margin-top: 0!important;
	padding-top: 0!important;
	top: 50px!important;
	}
	#divBusca{
	justify-content: center!important;
	margin-top: 0!important;
	margin-left: 40!important;
	}
	
	.menu-list{
		width:400px;
	}
	
	.main{
	width:410px!important;
	height: 200px!important;
	padding-left:7px!important;
	padding-right:10px!important;
	padding-top:0!important;
	margin-top: 80px!important;
	margin-left: 0!important;
	float: center;
	}
	
	.row{
	width:400px;
	}
	
	.carousel slide{
	width:375px;
	height: 200px;
	margin-left: 10px!important;
	margin-right: 10px!important;
	}
	
	.carousel-inner{
	width:375px;
	height: 200px;
	}
	.main1{
	width:400px;
	padding-left:20px!important;
	padding-right:20px!important;
	margin-left: 0!important;
	margin-right: 0!important;
	margin-top: 0!important;
	float: center;
	}
	
}


a {
 text-decoration: none;
}

a.active {
 text-decoration: none;
}

.classe1{
	font-size: 18px;
	margin-top: 23px;
	margin-left: 65px;
	float: left;
	color: #A9A9A9;
	text-decoration: none;
}

a.classe1:hover {
	color: #FA7625;
	text-decoration: none;  
}

a.classe1:link {
 text-decoration: none;
}
a.classe1:visited {
	text-decoration: none;  
	color: #A9A9A9;
}
	
a.classe1:hover {
	color: #FA7625;
    text-decoration: none;  
}



.classe2{
	color: #373737;
	text-decoration: none;
}

a.classe2:hover {
	color: #FA7625;
	text-decoration: none;  
}

a.classe2:link {
 text-decoration: none;
}

a.classe2:visited {
	text-decoration: none;  
	color: #A9A9A9;
}

a.classe2:hover {
	color: #FA7625;
    text-decoration: none;  
}

a.classe2.active {
	color: #FA7625;
 text-decoration: none;
}


.glyphicon-search {
	font-size: 18px;
	color: #FA7625;
	margin-top: 4px;
	margin-right: 10px;
	float: right;
	cursor:pointer;
}


.glyphicon-cog {
	font-size: 28px;
	color: #FA7625;
	right: 0px;
	
	margin-right: 0px;
}





#divBusca {
	background-color: #000;
	border: solid 1px #FA7625;
	border-radius: 15px;
	left: 350px;
	float: center;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	top: 500px;
	width: 80%;
	height: 30px;
}

#txtBusca {
	padding-left: 20px;
	border-radius: 15px;
	float: left;
	border: solid 1px #FA7625;
	border: none;
	background-color: transparent;
	color: #FA7625;
	font-style: italic;
	font-size: 12px;
	width: 85%;
	height: 29px;
}

.btn:hover {
	background-color: #FA7625;
	color: #FFF;
	border-color: #000;
}

.btn1 {
	background-color: #000;
	color: #FA7625;
	border-color: #FA7625;
	text-align: center;
	font-size: 10px;
	transition: 0.3s;
	right: 0px;
	padding: 1px;
	
	margin-top: 3px; 
	border-color: #FA7625;
	
}

.btn {
	background-color: #000;
	color: #FA7625;
	border-color: #FA7625;
	text-align: center;
	font-size: 10px;
	transition: 0.3s;
	right: 0px;
	padding: 1px;
	
	margin-left: 3px; 
	margin-top: 3px; 
	border-color: #FA7625;
}


.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #000000;
	position: fixed;
	top: 71px;
	width: 300px;
	height: 100%;
	color: #FFF;
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
	/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #FA7625;
	background-color: #FA7625;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #FA7625;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #FA7625;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #FA7625;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #FA7625;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #000000;
	border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
	text-decoration: none;
	color: #FA7625;
}

.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}


@media screen and ( max-width : 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
	
}

@media ( min-width : 767px) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}

body {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #000000;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	height: 10%;
	padding-left: 160px;
	padding-right: 40px;
	padding-top: 70px;
	background-color: #000000;
}

.main1 {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	padding-left: 170px;
	padding-right: 30px;
	padding-top: 10px;
	background-color: #000000;
}

.col-md-3{
border-color:#FA7625;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0 0px;
  width: 100%;
}

.wrapper {
  width: 25%;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.content img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
      border-radius: 4px;
  overflow: hidden;
}




